body{
	padding:0;
	margin:0;
	color:#333;
}

@font-face {
   font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#fa_poza div{
	float:right;
}

.div-clear{
	clear:both;
}

.center{
	margin:auto;
	padding:1px 5px 1px 5px;
}

.header{
	color:#fff;
	width:100%;
	min-height:90px;
	background:#383d48;
}

.header .logo{
	float:left;
}

.header .nav{
	float:right;
	list-style:none;
	margin-top:35px;
}

.header .nav li{
	float:left;
	margin-left:15px;
}

.header .nav li a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	border: 1px solid #383d48;
	border-radius:3px;
	padding:8px 8px 8px 8px;
}

.header .nav li a:hover{
	color:#fff;
	background-color:#99CCFF;
}

.paralax{
	width:100%;
	height:90px;
	background:url('../images/telephone-bk.png') top center fixed;
}


.section{
	min-height:550px;
}

.section h2{
	border-bottom:4px solid #336699;
	float:left;
	padding-bottom:5px;
}

.contacte{
	text-align:center;
}

.contact-box{
	width:200px;
	height:300px;
	border:1px solid #ccc;
	border-radius:3px;
	margin: 0 4px 10px 4px;
	float:left;
}

.contact-box a{
	color:#383d48;
	text-decoration:none;
	float:right;
	margin:3px 3px 0 0;
}

#photo_preview{
	width:150px;
	float:right;
	
}

#photo_preview img{
	width:150px;
}
img{
	border-radius:50%;
}

.contact-box a.delete:before{
	font-family:FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	content:'\f057';
}

.contact-box h4{
	background:#99CCFF;
	color:#383d48;
	margin:0;
	padding:8px 1px 8px 1px;
}

.contact-box img{
	width:200px;
	height:150px;
}


.footer{
	background:#383d48;
	color:#fff;
	padding:20px 0 20px 0;
}

.loginBox{
	width:190px;
	margin:auto;
	margin-top:15%;
	border:1px #ccc dotted;
}

.loginBox form{
	padding:15px;
}

.register h2,
 .loginBox h2{
	background:#383d48;
	color:#fff;
	margin:0;
	padding:8px 1px 8px 1px;
	font-size:22px;
	text-align:center;
}

.loginBox .error{
	color:red;
	padding:5px;
}


.register{
	width:300px;
	margin:auto;
	border:1px #ccc dotted;
	margin-top:10%;
}

.register form{
	padding:10px;
}

.register p.error{
	color:red;
	padding:5px;
}

.register .row{
	clear:both;
}
input{
	border-radius:3px;
}
.button-style{
	font-family:"Awesome";
	font-size:14px;
	cursor:pointer;
}
.register input[type=text],
.register input[type=password]{
	float:right;
}


@media (min-width: 960px){
	.center{
		width:840px;
	}
}

@media (min-width: 1200px){
	.center{
		width:1050px;
	}
}

@media (max-width: 840px){
	.content .file{
		width:100%;
	}
}